.form-group.span-left1 {
    float: left;
    width: 22.75%;
    clear: left;
    margin-right: 1.5%;
}
.form-group.span-left2 {
    float: left;
    width: 22.75%;
    margin-left: 1.5%;
}
.form-group.span-right1 {
    float: left;
    width: 22.75%;
    margin-left: 3%;
}
.form-group.span-right2 {
    float: right;
    width: 22.75%;
    margin-left: 1.5%;
    clear: right;
}
.form-group label, .form-group .before-field {
  font-weight: 600;
  color: #2a3e51;
}
.form-control::-webkit-input-placeholder { /* Edge */
  color: #2a3e51;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #2a3e51;
}
.form-control::placeholder {
  color: #2a3e51;
}
.text-uppercase {
  text-transform: uppercase;
}
.field-section {
    border-bottom: 1px solid #343535;
    padding-top: 15px;
}
.list-cell-name-status.oc-icon-circle  {
  position: relative;
  text-align: center;
  padding: 12px 5px !important;
  font-size: 12px;
}
.list-cell-name-status.oc-icon-circle::before {
  content:"";
  position: absolute;
  left: 0; top: 15%;
  width: 100%;
  height: 70%;
  border-radius: 10px;
  background-color: blue;
  z-index:-1;
}
.list-cell-name-status.oc-icon-circle {
  color: #fff !important;
  z-index: 2;
}
.negative.rowlink .list-cell-name-status.text-danger::before {
  background-color: #b2341c;
}
.positive.rowlink .list-cell-name-status.text-danger::before {
  background-color: #278731;
}
.fieldChanged {
  -webkit-animation-name: changeBColor;  
    -webkit-animation-iteration-count: 1;  
    -webkit-animation-duration: 6s; 
}
@-webkit-keyframes changeBColor {  
  0% { background-color: #b5dc8b; }
  50% { background-color: #b5dc8b; }
  100% { background-color: #eee !important; }
}