<?php function onStart()
{
  $order_id = $this-order_id;
}
?>
<?php 

  $user = Db::table('dac_webapp_reservations_edit')->where('order_id', $order_id)->first();
  $res_type = Db::table('dac_webapp_reservations')->where('id', $order_id)->value('rtype');

?>
<div class="row">
  <div class="col-xs-6">
    <div class="col-xs-6">
      <?php if($user) { ?>
        <p><span>Laatst aangepast/bewerkt: <strong><?= $user->edited_by; ?></strong></span></p>
        <p><span>Datum: <strong><?= $user->edited_at; ?></strong></span></p>
      <?php } ?>
    </div>
    <div class="col-xs-6">
      <p class="btn btn-primary text-uppercase"><?= $res_type; ?></p>
    </div>
  </div>
</div>