<div data-control="toolbar">
    <a
        href="<?= Backend::url('dac/webapp/reservations/create') ?>"
        class="btn btn-primary oc-icon-plus">
        NIEUWE RESERVERING
    </a>

    <button
        class="btn btn-danger oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
        data-request="onDelete"
        data-request-confirm="Are you sure you want to delete the selected Reservations?"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', 'disabled')"
        data-stripe-load-indicator>
        VERWIJDER SELECTIE
    </button>

    <a class="btn btn-info" target="_blank" 
    data-request="onDownloadTodayPDF" 
    data-load-indicator="Generating PDF..."
    >
    DownloadPDF</a>
</div>