<div class="row row-flush">
  
  <div class="col-sm-12">
    <?php if ($toolbar): ?>
    <?= $toolbar->render() ?>
    <?php endif ?>
    
    <?php if ($filter): ?>
    <?= $filter->render() ?>
    <?php endif ?>
    <?= $list->render() ?>
  </div>
</div>