<div class="layout-cell sidenav-tree" data-control="sidenav-tree" data-search-input="#settings-search-input">
  <div class="layout">
    <div class="layout-row min-size">
      
    </div>
    <div class="layout-row">
      <div class="layout-cell">
        <div class="layout-relative">
          <div class="layout-absolute">
            <div class="control-scrollbar" data-control="scrollbar">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>