<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('dac/webapp/reservations') ?>">Reservations</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>
<?= $this->makePartial('last_edit', ['order_id' => $formModel->id]) ?>
<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>
        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>
        
        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="Saving Reservation..."
                    class="btn btn-primary">
                    Opslaan
                </button>
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="Saving Reservation..."
                    class="btn btn-default">
                    Save and Close
                </button>
                
                <span class="btn-text">
                    or <a href="<?= Backend::url('dac/webapp/reservations') ?>">Annuleren</a>
                </span>
            </div>
        </div>

    <?= Form::close() ?>
    <!--  <?= $this->makePartial('email', ['order_id' => true]) ?> -->
<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('dac/webapp/reservations') ?>" class="btn btn-default">Return to reservations list</a></p>

<?php endif ?>
